
@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

<div class="row">
    <div class="col-md-3">
        <div class="list-group" id="teamsmenu">
                   
        </div>

    </div>
    <div class="col-md-6">
        
    </div>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   
    function createTeamsMenu(teamsList) {
        $.each(teamsList, function () {
            var teamListItem = this;
            var team = teamListItem.Team;
            var lastTicket = teamListItem.LastTicket;
            var menuItem = $('<div class="team-name list-group-item list-group-item-action flex-column align-items-start" style="margin-right:0px">');
            menuItem.attr('id', team.Id);
            var teamIcon = $('<img style="width: 12px; margin-right: 10px; vertical-align: baseline;">');
            teamIcon.attr('src', '/Content/Icons/group_icon.png');
            var teamHeader = $('<p>');
            teamHeader.append(teamIcon);
            if (team.Name.length > 15)
                team.Name = team.Name.slice(0, 12) + "...";
            teamHeader.append(team.Name);
            menuItem.append(teamHeader);
            if (lastTicket) {
                var ticketTime = $('<p style="color:gray; text-align:right; font-size:10px">').text(lastTicket.TimeCreated);
                if (lastTicket.Description.length > 50)
                    lastTicket.Description = lastTicket.Description.slice(0, 47) + "...";
                var ticketText = $('<p style="font-size:10px; margin-bottom: 0px;">').text(lastTicket.Description);
                menuItem.append(ticketTime);
                menuItem.append(ticketText);
            }
            //only to test
            if (!lastTicket) {
                var testDescription = 'John Doe: I 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0?';
                var ticketTime = $('<p style="color:gray; text-align:right; font-size:10px">').text('3 hours ago');
                if (testDescription.length > 50)
                    testDescription = testDescription.slice(0, 47) + "...";
                var ticketText = $('<p style="font-size:10px; margin-bottom: 0px;">').text(testDescription);
                menuItem.append(ticketTime);
                menuItem.append(ticketText);
            }
            $('#teamsmenu').append(menuItem);
        });
    };

    function getTeamsListAndCreateTeamsMenu() {
        $.getJSON("/Teams/GetCurrentUserTeamsList/")
            .done(function (teamsList) {
                createTeamsMenu(teamsList);
            });       
    };

    $(function () {
        getTeamsListAndCreateTeamsMenu();
    });
</script>
