
@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

<div class="row">
    <div class="col-md-3">
        <div class="list-group" id="teamsmenu">
                   
        </div>

    </div>
    <div class="col-md-6">
        
    </div>

</div>
<style>
    .group-icon {
        width: 12px;
        margin-right: 10px;
        vertical-align: baseline;
    }

    .ticket-time {
        color: gray;
        text-align: right;
        font-size: 10px
    }

    .ticket-text {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .shade {
        background-color: #DCDCDC;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   
    function createTeamsMenu(teamsList) {
        $.each(teamsList, function () {
            var teamListItem = this;
            var team = teamListItem.Team;
            var lastTicket = teamListItem.LastTicket;
            var menuItem = $('<div class="team-name list-group-item list-group-item-action flex-column align-items-start" style="margin-right:0px">');
            menuItem.attr('id', team.Id);
            var teamIcon = $('<img class="group-icon">');
            teamIcon.attr('src', '/Content/Icons/group_icon.png');
            var teamHeader = $('<p>');
            teamHeader.append(teamIcon);
            if (team.Name.length > 15)
                team.Name = team.Name.slice(0, 12) + "...";
            teamHeader.append(team.Name);
            menuItem.append(teamHeader);
            if (lastTicket) {
                var ticketTime = $('<p class="ticket-time">').text(lastTicket.TimeCreated);
                if (lastTicket.Description.length > 50)
                    lastTicket.Description = lastTicket.Description.slice(0, 47) + "...";
                var ticketText = $('<p class="ticket-text">').text(lastTicket.Description);
                menuItem.append(ticketTime);
                menuItem.append(ticketText);
            }

            $('#teamsmenu').append(menuItem);
            menuItem.click(function () {
                var shaded = $('.shade:last').removeClass('shade');
                $(this).addClass('shade');

                //here must be call of Andrew function to show tickets of team

            });
        });
    };

    function getTeamsListAndCreateTeamsMenu() {
        $.getJSON("/Teams/GetCurrentUserTeamsList/")
            .done(function (teamsList) {
                createTeamsMenu(teamsList);
            });       
    };

    $(function () {
        getTeamsListAndCreateTeamsMenu();
    });
</script>
