@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tracker</h1>
    <p class="lead">
        Tracking of the raised issues with description on priority. Tracking of the history actions on the issue. Communication between users by commenting issues.
    </p>
</div>
